body{
	background:#f7f5ef;
	overflow: hidden;
	height: 100%; 
}
img {
	max-width: 100%;
}
#deck h1 { 
	font-size: 5rem;
	text-transform: uppercase;
	line-height: 1;
}
#deck h2 { font-size: 3rem; }
#deck p, #deck li { font-size: 2rem; }
